<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h1>Login Form</h1>
    </div>
    <div>
        <form method="POST" action="/user/login">
            <label>Enter your Email Address</label>
            <input type="text" name="email">
            <label>Password</label>
            <input type="text" name="password">
            <button type="submit">Login</button>
        </form>
        <form method="get" action="/signup">
            <button type="submit">Signup</button>

        </form>
    </div>
</body>

</html>